*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-family: sans-serif;
    min-height: 100vh;
    color: #252525;
    font-weight: 300;
    display: grid;
    justify-content: center;
    padding: 3em 0;
    background-image: linear-gradient(rgb(221, 35, 221), rgb(236, 236, 12), rgb(47, 206, 47));
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.main_title{
    font-size: 1.5em;
    width: 80%;
}

.main_form{
    display: flex;
    gap: .6em;
    justify-items: center;
}

input{
    all: unset;
    padding: .5em .8em;
    width: 50%;
    border: 1px solid rgb(122, 236, 122);
    text-align: start;
    color: rgb(14, 13, 13);
}

input:focus{
    border: 3px solid green;
}

.main_error-prompter{
    color: #f72505;
    font-weight: 700;
    font-size: 1em;
    display: none;
}

button:not(.main_form-submit-btn){
    all: unset;
    border-radius: 50%;
    background: lightgreen;
    width: 40px;
    height: 40px;
    transition: all .5s ease;
}

.main_form-submit-btn{
    all: unset;
    width: 25em;
    background: lightgreen;
    padding: .7em 0;
    transition: all .5s ease;
}

button:active{
    transform: scale(.95) translateY(5px);
    filter: brightness(.9);
}

.main_scoreboard-wrapper{
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 1em;
}

.main_scoreboard{
    display: flex;
    justify-items: center;
    gap: 10em;
    width: 80%;
    background: rgb(5, 245, 5);
    text-transform: uppercase;
    padding: 1em;
}

.main_player-name{
    font-weight: 400;
}

.main_time-stamp{
    color: #686868;
    font-size: .8em;
}

.main_scoreboard-btn-container{
     display: flex;
    gap: 6em;
}
